
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #fff;
}


.container{
    width: 80%;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  */

header{
    width: 100%;
    height: 100px;
    background-color:  #2c7cfe;
    top: 0;
    position: fixed;
}


#logo, nav{
    height: 100% ;
    display: flex;
    align-items: center;
}

nav a{
  padding-left: 20px ;
  color: #fff;
}

nav a:last-child{
    color: #000;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 18px;
    margin-left: 20px ;
}

nav a:last-child:hover, .card-demo-description a:hover{
    text-decoration: none;
    color: #232323;
    background-color: #f1f1f1;
}


#burger-menu{
    display: none;
}





/* main */

     /*applications  */

#applications .container{
    margin-top: 150px;
    display: block;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.card-demo, .card-clean-code, .card-web-design, .card-developement, .card-branding{
    border-radius: 18px ;
}

.row .card-demo{
    width: 60%;
    background-color: rgb(188, 232, 240);
    display: flex;
}

.card-demo-description{
    width: 60%;
    padding: 30px;
}

.card-demo-description h2{
    color: #2c7cfe;
    margin-bottom: 40px;
}

.card-demo-description p{
    margin-bottom: 40px;
    line-height: 25px;
}

.card-demo-description a{
    color: #f1f1f1;
    padding: 10px 25px;
    background-color: #2c7cfe;
    border-radius: 20px;
}

.card-demo-img{
    display: flex;
    flex: 1;
    align-items: flex-end;
    padding: 50px 40px 0 0;
}

.card-demo-img img{
    max-width: 100%;
    object-fit: contain;
}

.row .card-clean-code{
    width: 35%;
    background-color:  rgb(188, 232, 240);
    text-align: center;
    padding: 30px;

}

.card-clean-code i, .card-web-design i, .card-developement i, .card-branding i {
    color: #2c7cfe;
    font-size: 70px;
}

.card-clean-code h2, .card-web-design h2,  .card-developement h2, .card-branding h2  {
    margin: 30px 0;
    color: #2c7cfe;
}





.card-web-design, .card-developement, .card-branding{
    width: calc(90%/3 );
    background-color: #2c7cfe;
    min-height: 100px ;
    margin-top: 5%;
    background-color:  rgb(188, 232, 240);
    text-align: center;
    padding: 30px;

}



        /* planning */

#planning {
    margin-top: 50px;
    background-color: rgb(209, 162, 241);
    width: 100%;
    display: flex;
    min-height: 200px ;
    padding: 30px;
}

.container-planning{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.strategic-planning, .app-development{
    max-width: 50%;
    padding: 100px;
}

.app-development{
    border-radius: 20px;
}

.strategic-planning img{
    max-width: 80%;
    display: block;
}

.strategic-planning h2, .strategic-planning p {
    color: #fff;
}

.strategic-planning h2{
    margin: 100px 0 50px 0;
}


.app-development{
    background-color: #fff;
    text-align: center

}

.app-development img{
    max-width: 50% ;
}

.app-development h2{
    margin: 30px 0;
}

.app-development p{
    font-style: italic;
}

.app-development a i{
    padding: 20px;
    border-radius: 100%;
    background-color: rgb(177, 133, 230);
    font-size: 20px;
    margin-top: 40px;
    color: #000;
}






           /* partners */

#partners {
    margin-top: 50px;
    
}

.container-partners{
    width: 80%;
    min-height: 100px;
    text-align: center;
    margin: 0 auto;
}

.container-partners h2{
    margin: 40px 0;
    color:  rgb(177, 133, 230);
}

.container-partners p{
    margin-bottom: 30px;
}

.partner-profile{
    width: 100%;
    margin: 20px 0;
    min-height: 200px;
    background-color: rgb(177, 133, 230) ;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-align: left;
}

.profile-img{
    
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.profile-description{
    width: 75%;
    color: #fff;
}





           /* benefits */

#benefits .container{
    background-color: rgb(0, 255, 60);
    width: 100%;

}




            /* about-us */

#about-us .container{
    background-color: rgb(225, 255, 0);
}

           /* subscribe */

#subscribe .container{
    background-color: brown;
    width: 100%;
}


footer{
    min-height: 100px;
    background-color: rgb(74, 74, 74);
}






    /* mobile devices */


            /* tablet */

    @media screen and (max-width: 768px) {
   
        /* header */
      nav a{
          display: none;
        }
  
        #burger-menu {
          display: flex;
          align-items: center;
      }
  
      #burger-menu i{
          color: #fff;
          font-size: 30px;
      }
  
      /* main */
  
          /*applications  */
  
           .row .card-demo{
              display: block;
          }
        
          .card-demo-description {
            width: 100%;
          }

          .card-demo-img{
            width: 60%;
            padding: 0;

          }


          /* planning */

          #planning{
            display: block;
          }

          .container-planning{
            display: block;
          }

          .strategic-planning, .app-development{
            max-width: 100%;
            padding: 30px;
    
        }

        .strategic-planning h2{
            margin: 50px 0 30px 0;
            text-align: left;
        }

        .strategic-planning p{
            margin-bottom: 40px;
            text-align: left;
        }


        .strategic-planning img, .app-development img{
            max-width: 100%;
            
        }

        

  }


      /* smarthphone */

      @media screen and (max-width: 480px){

        /* main */
  
          /*applications  */
  
          .row{
            display: block;
          }

          .row .card-demo, .row .card-clean-code, .card-web-design, .card-developement, .card-branding{
            width: 100%;
            margin-top: 20px;
            text-align: center;
          }

          .card-demo-img{
            width: 100%;
            padding: 10px 40px 0 40px;
          }

          /* partner */

          .partner-profile{
            display: block;
          }

          .profile-img{
            margin: 0 auto;
          }

          .profile-description{
            width: 100%;
            text-align: center;
            margin-top: 30px;
          }


      }